In [22]:
import pandas as pd # Reading csv files
import seaborn as sns # Graphing
import matplotlib.pyplot as plt # Graphing
import numpy as np # Math

In [23]:
air_df = pd.read_csv("datasets/air_quality_index_india.csv") # Read air data
air_df = air_df.drop(["COUNTRY"], axis=1) # Drop "Country" column since all data is from India
air_df.head() # Examine the first 5 entries of the dataframe

         DATE        CITY  VALUE
0  2019-01-01   Hyderabad  161.0
1  2019-01-01      Bhopal  175.0
2  2019-01-01  Chandigarh  163.0
3  2019-01-01       Delhi  341.0
4  2019-01-01   New Delhi  314.0

In [24]:
from scipy.stats import zscore

# Convert cities to numbers
cities = air_df["CITY"].unique()
cities_dict = {cities[i]:i for i in range(len(cities))} 
print(cities_dict)
air_df["CITY"] = air_df["CITY"].replace(cities_dict)
air_df.head()

{'Hyderabad': 0, 'Bhopal': 1, 'Chandigarh': 2, 'Delhi': 3, 'New Delhi': 4, 'Nashik': 5, 'Chennai': 6, 'Thiruvananthapuram': 7, 'Bengaluru': 8, 'Jaipur': 9, 'Mumbai': 10, 'Muzaffarnagar': 11, 'Patna': 12, 'Kolkata': 13, 'Visakhapatnam': 14, 'Gh훮zi훮b훮d': 15, 'Lucknow': 16, 'Gandhinagar': 17, 'H훮pur': 18, 'Shillong': 19, 'Thrissur': 20, 'Mysore': 21, 'Nagpur': 22}

         DATE  CITY  VALUE
0  2019-01-01     0  161.0
1  2019-01-01     1  175.0
2  2019-01-01     2  163.0
3  2019-01-01     3  341.0
4  2019-01-01     4  314.0