In [1]:
import pandas as pd # Reading csv files
import seaborn as sns # Graphing
import matplotlib.pyplot as plt # Graphing
import numpy as np # Math
import sklearn # Possible machine learning model

In [5]:
air_df = pd.read_csv("datasets/air_quality_index_india.csv") # Read air data
air_df = air_df.drop(["COUNTRY"], axis=1) # Drop "Country" column since all data is from India
air_df.head() # Examine the first 5 entries of the dataframe

         DATE COUNTRY        CITY  VALUE
0  2019-01-01      IN   Hyderabad  161.0
1  2019-01-01      IN      Bhopal  175.0
2  2019-01-01      IN  Chandigarh  163.0
3  2019-01-01      IN       Delhi  341.0
4  2019-01-01      IN   New Delhi  314.0

In [17]:
from scipy.stats import zscore

# Convert cities to numbers
cities = air_df["CITY"].unique()
cities_dict = {cities[i]:i for i in range(len(cities))} 
print(cities_dict)
air_df["CITY"] = air_df["CITY"].replace(cities_dict)
air_df.head()

         DATE COUNTRY  CITY  VALUE
0  2019-01-01      IN     0  161.0
1  2019-01-01      IN     1  175.0
2  2019-01-01      IN     2  163.0
3  2019-01-01      IN     3  341.0
4  2019-01-01      IN     4  314.0